<form>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <legend>Kullanıcı Bilgileri</legend>
                    <hr/>
                    <input type="hidden" id="id" name="id" value='{{id}}'>

                    <div class="form-group">
                        <label class="control-label">Kullanıcı Adı</label>
                        <input title="Boş Geçilemez!!" onkeypress="return isNumber(event,this.id)" class="form-control usernameAdd" type="text" id="username" name="username" value='{{username}}'>
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Sicil Numarası</label>
                        <input title="Boş Geçilemez!!" onkeypress="return isCharacter(event,this.id)" class="form-control sicilNoAdd" type="text" id="sicilNo" name="sicilNo" value='{{sicilNo}}'>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Şifre</label>
                        <input title="Boş Geçilemez!!" class="form-control passwordAdd" type="text" id="password" name="password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Bölümü</label>
                        <input title="Boş Geçilemez!!" onkeypress="return isNumber(event,this.id)" class="form-control departmentAdd" type="text" id="department" name="department" value="{{department}}">
                    </div>

                    <div class="form-group">
                        <label class="control-label" >Bölüm Müdürü</label>
                        <input title="Boş Geçilemez!!" onkeypress="return isNumber(event,this.id)" class="form-control departmentManagerAdd" type="text" id="departmentManager" name="departmentManager" value="{{departmentManager}}">
                    </div>

                    <hr/>
                    <legend>Bilgilendirme </legend>
                    <p id="editUserkapali"><input id="kapa" style='display:inline ;' type="checkbox" name="vehicle"  value="-">Kapalı<br> </p>
                    <p style='display: inline;' id="editUseracik" > <input id="ac" type="checkbox" name="vehicle"  value="Car">Açık<br> </p>
                    <hr>
                    <span id="seyahat" style='display: none;' >
                        <legend>Seyehat Sistemi </legend>
                        <input  type="checkbox" id="aylik" value="Aylık-">Aylık<br>
                        <input type="checkbox" id="haftalik" value="Haftalık-">Haftalık<br>
                            <select id="gunler">
                        <option value="Pazartesi">Pazartesi</option>
                        <option value="Salı">Salı</option>
                        <option value="Çarşamba">Çarşamba</option>
                         <option value="Perşembe">Perşembe</option>
                         <option value="Cuma">Cuma</option>
                        <option value="Cumartesi">Cumartesi</option>
                        <option value="Pazar">Pazar</option>
                         </select>
                         </span>
                    <hr/>


                    <div class="form-group">
                        <button id="editUser" type="submit"  class="btn btn-info btn-block">Güncelle</button>
                        <button id="notEditUser" type="reset"  class="btn btn-info btn-block">İptal</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>