<div class="row">
    <a href="/j_spring_security_logout" class="btn btn-danger" style="float:right">ÇIKIŞ YAP</a>
    <a href="#" class="btn btn-success" id="userButton" style="float: right">     <span class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz </a>

</div>
<hr/>


<label style="background-color: #080808;color: #5bc0de">Başlangıç Tarihi</label>
<input style="border-radius: 4px;color: #080808" type="date" class="userBeginDate" name="beginDate" id="beginDate" title="Boş Geçilemez!!" >
<label style="background-color: #080808;color: #5bc0de">Bitiş Tarihi</label>
<input style="border-radius: 4px;color: #080808" type="date" class="userEndDate" name="endDate" id="endDate" title="Boş Geçilemez!!" >
<button type="submit" id="searchTravelUser" class="btn">Ara</button>
<a href="#/newTravel" style="float: right" class="btn btn-primary">Yeni Seyehat</a>
<table class="table striped table-bordered" id="travelList">
    <thead class="bg-warning">
    <tr>
        <th style="color:#d9edf7;background-color: #101010" >Bölümü</th>
        <th style="color:#d9edf7;background-color: #101010" >Müdürü</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Başlangıcı</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Sonu</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Yeri</th>
        <th style="color:#d9edf7;background-color: #101010" >Gidiş Amacı</th>
        <th style="color:#d9edf7;background-color: #101010" >Proje Kodu</th>
        <th style="color:#d9edf7;background-color: #101010" >İşlemler</th>



    </tr>

    </thead>


</table>
<button class="btn-primary" id="more">Daha Fazla</button>