<form>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <legend>Kullanıcı Bilgileri</legend>
                    <hr/>

                    <input type="hidden" id="id" name="id" value='{{m_user.id}}'>



                    <div class="form-group">
                        <label class="control-label">Kullanıcı Adı</label>
                        <input type="text" title="Boş Geçilemez!!" onkeypress="return isNumber(event,this.id)" class="form-control usernameAdd" id="username" name="username" value='{{m_user.username}}'>
                </div>
                    <div class="form-group">
                        <label class="control-label" >Sicil Numarası</label>
                        <input title="Boş Geçilemez!!" onkeypress="return isCharacter(event,this.id)" class="form-control sicilNoAdd" type="text" id="sicilNo" name="sicilNo" value='{{m_user.sicilNo}}'>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Şifre</label>
                        <input title="Boş Geçilemez!!" class="form-control passwordAdd" type="text" id="password" name="password" value="{{m_user.password}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Bölümü</label>
                        <input title="Boş Geçilemez!!" onkeypress="return isNumber(event,this.id)" class="form-control departmentAdd" type="text" id="department" name="department" value="{{m_user.department}}">
                    </div>

                    <div class="form-group">
                        <label title="Boş Geçilemez!!" class="control-label" >Bölüm Müdürü</label>
                        <input onkeypress="return isNumber(event,this.id)" class="form-control departmentManagerAdd"  type="text" id="departmentManager" name="departmentManager" value="{{m_user.departmentManager}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Rolü</label>
                    <select id="role">
                        <option  value="User">User</option>
                        <option  value="Admin">Admin</option>

                    </select>



                    </div>
                    <hr/>
                    <legend>Bilgilendirme </legend>
                    <p id="editAdminkapali"><input id="kapa" style='display:inline ;' type="checkbox" name="vehicle"  value="-">Kapalı<br> </p>
                    <p style='display: inline;' id="editAdminacik" > <input id="ac" type="checkbox" name="vehicle"  value="Car">Açık<br> </p>
                    <hr>
                    <span id="seyahat" style='display: none;' >
                        <legend>Seyehat Sistemi </legend>
                        <input  type="checkbox" id="editAdminaylik" value="Aylık-">Aylık<br>
                        <input type="checkbox" id="editAdminhaftalik" value="Haftalık-">Haftalık<br>
                            <select id="gunler">
                        <option value="Pazartesi">Pazartesi</option>
                        <option value="Salı">Salı</option>
                        <option value="Çarşamba">Çarşamba</option>
                         <option value="Perşembe">Perşembe</option>
                         <option value="Cuma">Cuma</option>
                        <option value="Cumartesi">Cumartesi</option>
                        <option value="Pazar">Pazar</option>
                         </select>
                         </span>
                    <hr/>
                    <div class="form-group">
                        <button id="editAdmin" type="submit"  class="btn btn-info btn-block">
                            Güncelle
                            </button>
                        <button id="notEditAdmin" type="reset"  class="btn btn-info btn-block">İptal</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>