<div class="row">

    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#" class="btn btn-success" id="adminButton" style="float: right"> <span  class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz </a>



<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#/adminPanel">Ana Sayfa</a></li>
    <li role="presentation"><a href="#/users">Kullanıcılar</a></li>

</ul>
</div>
<hr/>


</div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control" id="homeUsers"></select>
        </div>

    </div>

    </div>


    <label style="color: #5bc0de" >Başlangıç Tarihi</label>
    <input style="border-radius: 4px;color: #080808" type="date" class="adminBeginDate" name="beginDate" id="beginDate" title="Boş Geçilemez!!" >
    <label style="background-color: #080808;color: #5bc0de">Bitiş Tarihi</label>
    <input style="border-radius: 4px;color: #080808" type="date" class="adminEndDate"  name="endDate" id="endDate" title="Boş Geçilemez!!">
    <button type="submit" id="searchTravel" class="btn">Ara</button>



<a href="#/newAdminTravel" style="float: right" class="btn btn-primary">Yeni Seyehat</a>
<table class="table striped table-bordered" id="travelList">
    <thead class="bg-warning">
    <tr>
        <th style="color:#d9edf7;background-color: #101010" >Bölümü</th>
        <th style="color:#d9edf7;background-color: #101010" >Müdürü</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Eden</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Başlangıcı</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Sonu</th>
        <th style="color:#d9edf7;background-color: #101010" >Seyehat Yeri</th>
        <th style="color:#d9edf7;background-color: #101010" >Gidiş Amacı</th>
        <th style="color:#d9edf7;background-color: #101010" >Tahmini Seyehat Maliyeti</th>
        <th style="color:#d9edf7;background-color: #101010" >Proje Kodu</th>
        <th style="color:#d9edf7;background-color: #101010" >İşlemler</th>



    </tr>

    </thead>


</table>
<button class="btn-primary" id="more">Daha Fazla</button>
<a class="btn btn-default" style="float: right" href="rest/export">Export to Excel</a>