<form>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <legend>Seyehat Detayları</legend>
                <hr/>


                        <div class="form-group">
                            <select class="form-control usernameAdd" id="travelUsers" title="Boş Geçilemez!!"></select>
                        </div>




                <div class="form-group">
                    <label class="control-label">Seyehat Yeri</label>
                    <input type="text" title="Boş Geçilemez!!" onkeypress="return isNumber(event,this.id)"   id="travelPlace" name="travelPlace" class="travelPlaceAdd form-control">
                </div>
                <div class="form-group">
                    <label class="control-label" >Gidiş Amacı</label>
                    <input type="text" title="Boş Geçilemez!!" id="goPurpose" onkeypress="return isNumber(event,this.id)" name="goPurpose" class="goPurposeAdd form-control">
                </div>

                <div class="form-group">
                    <label class="control-label" >Seyehat Başlangıcı</label>
                    <input type="date" title="Boş Geçilemez!!" id="beginTravel" name="beginTravel" class="beginTravelAdd begin form-control">
                </div>

                <div class="form-group">
                    <label class="control-label" >Seyehat Sonu</label>
                    <input type="date" title="Boş Geçilemez!!" id="endTravel" name="endTravel" class="endTravelAdd form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Tahmini Seyehat Maliyeti</label>
                    <input type="text" title="Boş Geçilemez!!" id="travelCost" name="travelCost" onkeypress="return isCharacter(event,this.id)" class="travelCostAdd form-control">
                </div>
                    <div class="form-group">
                        <label class="control-label">Proje Kodu</label>
                        <input type="text" title="Boş Geçilemez!!" id="projectCode" name="projectCode" class="projectCodeAdd form-control">
                    </div>

                <div class="form-group">
                    <button id="saveTravel" type="submit"  class="btn btn-info btn-block">Seyehat Ekle</button>
                    <button id="notSaveTravel" type="reset"  class="btn btn-info btn-block">İptal</button>
                </div>


            </div>
        </div>
    </div>
</div>
</form>