<form >
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body" >
                    <legend>Kullanıcı Bilgileri</legend>
                    <hr/>

                    <div class="form-group form-horizontal">


                          <label >Kullanıcı Adı</label>


                           <input type="text" id="username" onkeypress="return isNumber(event,this.id)" name="username" class="usernameAdd form-control" title="Boş Geçilemez!!" >


                        </br>
                        <label class="control-label">İsim Soyisim</label>
                        <input type="text" id="firstLastName" name="firstLastName" class="firstLastNameAdd form-control" title="Boş Geçilemez!!">

                        </br>



                        <label class="control-label" >Sicil Numarası</label>
                            <input type="text" id="sicilNo" name="sicilNo" class="sicilNoAdd form-control" onkeypress="return isCharacter(event,this.id)" title="Boş Geçilemez!!">


                        </br>


                        <label class="control-label">Şifre</label>
                        <input type="text" id="password" name="password" class="passwordAdd form-control" title="Boş Geçilemez!!">

                        </br>


                        <label class="control-label" >Bölümü</label>
                        <input type="text" id="department" onkeypress="return isNumber(event,this.id)" name="department" class="departmentAdd form-control" title="Boş Geçilemez!!">

                        </br>

                        <label class="control-label" >Bölüm Müdürü</label>
                        <input type="text" id="departmentManager" onkeypress="return isNumber(event,this.id)" name="departmentManager" class="departmentManagerAdd form-control" title="Boş Geçilemez!!">

                        </br>

                        <label class="control-label" >Rolü</label>
                        <select id="role">
                            <option  value="User">User</option>
                            <option  value="Admin">Admin</option>

                        </select>
                        </br>
                        <label class="control-label" >Email</label>
                        <input type="email" id="email" name="email" class="form-control" >

                        <hr/>
                        <legend>Bilgilendirme </legend>
                        <p id="newUserkapali"><input id="kapa" style='display:inline ;' type="checkbox" name="vehicle"  value="-">Kapalı<br> </p>
                        <p style='display: inline;' id="newUseracik" > <input id="ac" type="checkbox" name="vehicle"  value="Car">Açık<br> </p>
                        <hr>
                        <span id="seyahat" style='display: none;' >
                        <legend>Seyehat Sistemi </legend>
                        <input  type="checkbox" id="newUseraylik" value="Aylık-">Aylık<br>
                        <input type="checkbox" id="newUserhaftalik" value="Haftalık-">Haftalık<br>
                            <select id="gunler">
                        <option value="Pazartesi">Pazartesi</option>
                        <option value="Salı">Salı</option>
                        <option value="Çarşamba">Çarşamba</option>
                         <option value="Perşembe">Perşembe</option>
                         <option value="Cuma">Cuma</option>
                        <option value="Cumartesi">Cumartesi</option>
                        <option value="Pazar">Pazar</option>
                         </select>
                         </span>
                        <hr/>







                        <button id="new" type="submit"  class="btn btn-info btn-block">
                            Kaydet
                        </button>
                        <button id="notNew" type="reset"  class="btn btn-info btn-block">İptal</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>