<div class="row">
    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#" class="btn btn-success" id="adminButton" style="float: right">     <span class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz </a>



    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#/adminPanel">Ana Sayfa</a></li>
        <li role="presentation"><a href="#/users">Kullanıcılar</a></li>

    </ul>
</div>
<hr/>


</div>


<a href="#/newUser" style="float: right" class="btn btn-primary">Yeni Kullanıcı</a>
<table class="table striped table-bordered" id="all">
    <thead class="bg-primary">
    <tr>
        <th class="col-md-2">Kullanıcı Adı</th>
        <th class="col-md-2">Bölümü</th>
        <th class="col-md-2">Bölüm Müdürü</th>
        <th class="col-md-2">Rolü</th>
        <th class="col-md-2">Seyehat Bilgilendirme</th>
        <th class="col-md-2">İşlemler</th>


    </tr>

    </thead>


</table>
